
<section class="main-header">
  <img src="<%= asset_path "tw.png" %>" class="topimage">
  <h1>Orifinal Twitter</h1>
</section>

<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>